body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);

    overflow: hidden;
    display: flex;
    justify-content: center;

}

/* All */

.main {
    width: auto;
    height: auto;
    background-color: rgb(248, 252, 250);
    border: 1px solid transparent;
    border-radius: 8px;
    position: absolute;
    top: 200px;
    box-shadow: 5px 25px 20px rgba(12, 24, 24, 0.4);


}


/* Top */
/* Img PErson */
.top-bg img {
    border-radius: 8px 8px 0px 0px;
}

/* Victor Pic */
.victor {
    position: relative;
    left: 120px;
    bottom: 50px;
    border: 5px solid white;
    border-radius: 50px;
}

/* text Bottom */
.bottom {
    margin-top: -50px;
}

.name {
    text-align: center;
}

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



/* Headings */
h2,
h3 {
    color: hsl(229, 23%, 23%);
}

/* text */
p,
span {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}





/* Bg Top */
.top-img {


    position: relative;
    right: 50px;
    bottom: 400px;
}

/* Bg Bottom */
.bot-img {
    position: relative;
    top:400px;
    left: 30px;
    transform: rotate(60deg);
}